catboost==1.2.7
kagglehub==0.3.6
librosa==0.10.2.post1
llvmlite==0.44.0
matplotlib==3.10.0
matplotlib-inline==0.1.7
numba==0.61.0
numpy==1.26.4
numpy-financial==1.0.0
optuna==4.2.0
optuna-dashboard==0.17.0
pandas==2.2.3
resampy==0.4.3
scikit-learn==1.6.1
scipy==1.15.1
seaborn==0.13.2
soundfile==0.13.0
tqdm==4.67.1
